.bookings-page {
    .form-header {
        line-height: 48px;
        font-size: 2.625rem;
    }

    .textarea-box {
        .input {
            background: #f7f7f7;
            border: 1px solid #bdbdbd;
            font-family: "Barlow regular", sans-serif;
        }
    }
}
