.menu-card {
    .card-price {
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 25px;
        text-transform: uppercase;
        color: #e5cb9f;
    }
    .straight-line {
        border-bottom: 1px solid #e5cb9f;
    }
}
