.poster-section {
    .heading-text {
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 73px;
    }

    .sub-text {
        font-size: 20px;
        line-height: 30px;
        width: 880px;
        text-align: center;
    }
}
