* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: "BebasNeue Pro-regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #231f20;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

.btn {
    padding: 10px 25px;
    font-style: normal;
    font-weight: normal;

    @media screen and (max-width: 768px) {
        padding: 10px 20px;
    }
}

.btn-primary {
    background-color: #e5cb9f;
    border: 1px solid #e5cb9f;
}

.btn-secondary {
    background: rgba(35, 31, 32, 0.6);
    border: 1px solid #ffffff;
    color: #ffffff;
}

.btn-md {
    font-size: 24px;
    line-height: 27px;
    @media screen and (max-width: 768px) {
        font-size: 20px;
        line-height: 27px;
    }
}

.btn-sm {
    font-size: 16px;
    line-height: 18px;
}

.wrapper {
    @apply mx-0;
    @apply my-0;

    @screen xl {
        @apply mx-4;
        @apply my-5;
    }
}

.header-subtext {
    @apply text-whitish;
    @apply font-barlow;
    @apply text-center;
    @apply text-xl;
    @apply leading-7;
    @apply px-5;
    @apply -mt-7;
    @apply w-full;

    @screen lg {
        @apply w-3/5; 
    }
}

.header-wrapper {
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    @apply items-center;
}

.header-headtext {
    @apply text-center;
    @apply text-whitish;
    @apply font-bold;
    @apply font-bebasBold;
    @apply text-6xl;
    @apply leading-extra-big;
    @apply my-9;
    @apply uppercase;

    @screen lg {
     @apply text-8xl;
    }
    
}
